<div class="navbar marge position limite navbar-expand-lg navbar-light bg-light">
  <a type="" class="btn text-light bg-custom mx-auto">
    <i class="fas fa-heart"></i><h6 class="word">Siguiendo</h6>
  </a>
  <a type="" class="btn text-light bg-custom mx-auto">
    <i class="fas fa-route"></i><h6 class="word">explorar</h6>
  </a>
  <a type="" class="btn text-light bg-custom mx-auto">
    <i class="fas fa-comment-alt"></i><h6 class="word">mensajes</h6>
  </a>

  <a type="" class="btn text-light bg-custom mx-auto">
    <img class="img-profile float-left" *ngIf="identity.image" src="{{url + 'get-image-user/' + identity.image}}"><h6 class="word">perfil</h6>
  </a>
</div>


