.img-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.img-pub{
  width: 50%!important;
  height: 50%!important;
  align-content: center;
}

.btn-ctn{
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

display-srn{
  margin: 300px!important;
  padding: 300px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.btn-ch{
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

.intenciones {
  border-radius: 30px;
  background-color: #f0506e;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #fff;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}



.text-sm-pub{
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

.my-4 {
  margin-top: 1.5rem !important;
}

.my-4-b {
  margin-bottom: 1.5rem !important;
}

@media screen and (min-width: 980px) {
  .limite {
    display: none;
  }
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #F5F6F7;
  background-clip: border-box;
  border: none;
  border-radius: .25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0rem;
}

.card-pub{
  margin-bottom: 15px;
  border-radius: 15px;
}

div.noticia {
  width: 100%;
  padding: 15px;
}

div.noticia img.izquierda {
  float: left;
  margin-right: 15px;
}

div.noticia img.derecha {
  float: right;
  margin-left: 15px;
}

div.reset {
  clear: both;
}


.text-desc, [class*="reaction-"], .field-reactions, .field-reactions:checked:focus ~ .text-desc {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.field-reactions:focus ~ .text-desc, .box:hover [class*="reaction-"], .field-reactions:checked ~ [class*="reaction-"] {
  clip: auto;
  overflow: visible;
  opacity: 1;
}

.main-title {
  background: #3a5795;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.text-desc {
  font-weight: normal;
  text-align: center;
  transform: translateY(-50px);
  white-space: nowrap;
  font-size: 13px;
  width: 100%;
}

[class*="reaction-"] {
  border: none;
  background-color: transparent;
  display: block;
  cursor: pointer;
  height: 48px;
  position: absolute;
  width: 48px;
  z-index: 11;
  top: -28;
  transform-origin: 50% 100%;
  transform: scale(0.1);
  transition: all 0.3s;
  outline: none;
  will-change: transform;
  opacity: 0;
}

.box {
  position: relative;
  max-width: 10px;

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  visibility: hidden;
}

.field-reactions:focus ~ .label-reactions {
  border-color: rgba(88, 144, 255, 0.3);
}
.field-reactions:checked:focus ~ .label-reactions {
  border-color: transparent;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.label-reactions {
  border: transparent;
  display: block;
  background-color: #f0506e!important;
  cursor: pointer;
  font-size: 10px;
  color: #fff;
  padding: 10px;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}


.toolbox {
  background: #fff;
  height: 52px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.15);
  width: 200px;
  border-radius: 40px;
  top: -30px;
  left: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s;
}

.legend-reaction {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  text-overflow: ellipsis;
  font-weight: bold;
  line-height: 20px;
  max-width: 850%;
  width: 90px;
  opacity: 0;
  overflow: hidden;
  padding: 0 6px;
  transition: opacity 50ms ease;
  left: 50%;
  position: absolute;
  text-align: center;
  top: -28px;
  transform: translateX(-50%);
}

.box:hover [class*="reaction-"] {
  transform: scale(0.8) translateY(-40px);
}
.box:hover [class*="reaction-"]:hover, .box:hover [class*="reaction-"]:focus {
  transition: all 0.2s ease-in;
  transform: scale(1) translateY(-35px);
}
.box:hover [class*="reaction-"]:hover .legend-reaction, .box:hover [class*="reaction-"]:focus .legend-reaction {
  opacity: 1;
}
.box:hover .toolbox {
  opacity: 1;
}
.box:hover .toolbox {
  visibility: visible;
}
.box:hover .reaction-love {
  transition-delay: 0.03s;
}
.box:hover .reaction-haha {
  transition-delay: 0.09s;
}
.box:hover .reaction-wow {
  transition-delay: 0.12s;
}
.box:hover .reaction-sad {
  transition-delay: 0.15s;
}
.box:hover .reaction-angry {
  transition-delay: 0.18s;
}

.field-reactions:checked ~ [class*="reaction-"] {
  transform: scale(0.8) translateY(-40px);
}
.field-reactions:checked ~ [class*="reaction-"]:hover, .field-reactions:checked ~ [class*="reaction-"]:focus {
  transition: all 0.2s ease-in;
  transform: scale(1) translateY(-35px);
}
.field-reactions:checked ~ [class*="reaction-"]:hover .legend-reaction, .field-reactions:checked ~ [class*="reaction-"]:focus .legend-reaction {
  opacity: 1;
}
.field-reactions:checked ~ .toolbox {
  opacity: 1;
}
.field-reactions:checked ~ .toolbox,
.field-reactions:checked ~ .overlay {
  visibility: visible;
}
.field-reactions:checked ~ .reaction-love {
  transition-delay: 0.03s;
}
.field-reactions:checked ~ .reaction-haha {
  transition-delay: 0.09s;
}
.field-reactions:checked ~ .reaction-wow {
  transition-delay: 0.12s;
}
.field-reactions:checked ~ .reaction-sad {
  transition-delay: 0.15s;
}
.field-reactions:checked ~ .reaction-angry {
  transition-delay: 0.18s;
}

.reaction-like {
  left: 0;
  background-position: 0 -144px;
}

.reaction-love {
  background-position: 0 -192px;
  left: 50px;
}

.reaction-haha {
  background-position: 0 -96px;
  left: 100px;
}

.reaction-wow {
  background-position: 0 -288px;
  left: 150px;
}

.reaction-sad {
  background-position: 0 -240px;
  left: 200px;
}

.reaction-angry {
  left: 250px;
}

.footer {
  padding-top: 105px;
}
