<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!-- [style.background-image]="sanitizeImage(url + 'get-image-user/' + user.imageBackground)" -->
<body>
<div class="main-content mx-auto" style="max-width: 90%" >
  <div class=" mt-7">
    <!-- Table -->
    <div class="row" >
      <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0" >
        <div class="card card-profile shadow" style="min-height: 300px;  background-size: cover; background-position: center top;" >
          <div class="row justify-content-center" >
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image " *ngIf="user" >
                <a href="#">
                  <img class="img-profile"  style="z-index: 1;"  *ngIf="user && !user.image" src="assets/images/profile.png">
                  <img style="z-index: 1;   " *ngIf="user && user.image" src="{{url + 'get-image-user/' + user.image}}" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4" >
            <div class="d-flex justify-content-between" (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave()">
              <a class="btn btn-sm btn-info mr-4" *ngIf="user._id == identity._id">Tu Perfil</a>
              <a class="btn btn-sm btn-info mr-4" *ngIf="!following && identity._id != user._id"  (click)="followUser(user._id)">Seguir</a>
              <a class="btn btn-sm btn-info mr-4" *ngIf="following" (click)="unfollowUser(user._id)">Dejar de seguir</a>
              <a class="btn btn-sm btn-default float-right" *ngIf="followed">Te sigue</a>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4" style="background: rgba(255,255,255,.775)">
            <div class="row"  >
              <div class="col" >
                <div class="card-profile-stats d-flex justify-content-center mt-md-5" >
                  <div >
                    <span class="heading" [routerLink]="['/followed', user._id,1]" >{{stats.followed}}</span>
                    <span class="description">Seguidores</span>
                  </div>
                  <div>
                    <span class="heading" [routerLink]="['/following', user._id,1]">{{stats.following}}</span>
                    <span class="description">Siguiendo</span>
                  </div>
                  <div>
                    <span class="heading">{{stats.publications}}</span>
                    <span class="description">Post</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center" >
              <h3>
                {{user.name + ' ' + user.surname}}<span class="font-weight-light"></span>
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>@{{user.nick}}
              </div>
              <div *ngIf="user.location">
                <i class="ni education_hat mr-2"></i>{{user.location}}
              </div>
              <hr class="my-4" >
              <p  *ngIf="user.description">{{user.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row align-items-center justify-content-xl-between" *ngIf="user">
    <div class="col-xl-6 m-auto text-center mx-auto">

      <div class="copyright" *ngIf="user._id == identity._id">
      </div>


    </div>
  </div>

<div *ngIf="user" class="container">
  <app-publication *ngIf="user._id == identity._id"></app-publication>
  <app-publication-user [user]="user._id"></app-publication-user>
</div>


</body>
