
<!--<div class="w-75 mx-auto">
   <div class="container-login100 ">
     <div class="wrap-login100">

      <form class="login100-form mx-auto validate-form" #userEditForm="ngForm" (ngSubmit)="onSubmit()">
            <span class="login100-form-title p-b-43">
              {{title}}
            </span>

          <div class="alert alert-success" role="alert" *ngIf="status == 'success'">
            Se han guardado los cambios
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="status == 'error'">
            ¡Ou!, no se ha podido guardar los cambios, intentalo nuevamente
          </div>

          <input type="text" name="name"  #name="ngModel" [(ngModel)]="user.name" required="required"  class="form-control wrap-input100"  placeholder="Nombre"/>
          <span *ngIf="!name.valid && name.touched">
            Ups... El nombre es obligatorio
          </span>

          <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required="required" class="form-control wrap-input100"   placeholder="Apellido" />
          <span *ngIf="!surname.valid && surname.touched">
            Ups... Tu apellido es obligatorio
          </span>

          <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required="required"  class="form-control wrap-input100"  placeholder="Nickname" />
          <span *ngIf="!nick.valid && nick.touched">
            Ups... Tu nickname es obligatorio
          </span>

          <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required="required" class="form-control wrap-input100" required="required"  placeholder="Email" />
          <span *ngIf="!nick.valid && nick.touched">
            Ups... Tu email es obligatorio
          </span>

          <div class="form-group">
            <div *ngIf="user.image">
              <img src="{{url + 'get-image-user/' + user.image}}">
            </div>
            <label for="exampleFormControlFile1">Foto de perfilr</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="fileChangeEvent($event)">
          </div>

          <div class="container-login100-form-btn">
            <button type="submit" [disabled]="!userEditForm.form.valid" class="login100-form-btn" >
              Guardar
            </button>
          </div>
        </form>



      </div>
  </div>

</div> -->





<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<div class="">
<div class="main-content">
  <!-- Top navbar -->
  <!-- Header -->
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-size: cover; background-position: center top;" [style.background-image]="sanitizeImage(url + 'get-image-user/' + user.imageBackground)" >
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class=" col-md-10 ">
          <h1 class="display-2 text-white">Hola {{user.name}} | configuraciones</h1>
          <p class="text-white ">¡Vaya!, tu perfil se ve genial, puedes cambiarlo cuando gustes, recuerda, tlint es tu mundo</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7" >
    <div class="row ">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0 ">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  <img src="{{url + 'get-image-user/' + user.image}}" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">

            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>
                    <span class="heading">{{stats.followed}}</span>
                    <span class="description">Seguidores</span>
                  </div>
                  <div>
                    <span class="heading">{{stats.following}}</span>
                    <span class="description">Siguiendo</span>
                  </div>
                  <div>
                    <span class="heading">{{stats.publications}}</span>
                    <span class="description">Post</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>
                {{user.name + ' ' + user.surname}}<span class="font-weight-light"></span>
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>@{{user.nick}}
              </div>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>{{user.description}}
              </div>
              <div>
                <i class="ni education_hat mr-2"></i>{{user.location}}
              </div>
              <hr class="my-4">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Mi cuenta</h3>
              </div>
              <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-primary">personalizar</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form #userEditForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="alert alert-success" role="alert" *ngIf="status == 'success'">
                Se han guardado los cambios
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="status == 'error'">
                ¡Ou!, no se ha podido guardar los cambios, intentalo nuevamente
              </div>
              <h6 class="heading-small text-muted mb-4">Tu información</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-username" >Nickname</label>
                      <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required="required" id="input-username" class="form-control form-control-alternative">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Email</label>
                      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required="required"  id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-first-name">Nombre</label>
                      <input type="text" name="name"  #name="ngModel" [(ngModel)]="user.name" required="required" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="Lucky">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-last-name">Apellido</label>
                      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required="required" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="Jesse">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-username" >Lugar de nacimiento</label>
                      <input type="text" name="location" #location="ngModel" [(ngModel)]="user.location"  id="input-location" class="form-control form-control-alternative" placeholder="México">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Fecha de nacimiento</label>
                      <input type="date" name="date" #date="ngModel" [(ngModel)]="user.date" required="required"  id="input-date" class="form-control form-control-alternative" placeholder="jesse@example.com">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Teléfono</label>
                      <input type="text" name="cellphone" #cellphone="ngModel" [(ngModel)]="user.cellphone"   id="input-cellphone" class="form-control form-control-alternative" placeholder="+52 000 000 0000">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4">
              <h6 class="heading-small text-muted mb-4">Cuentanos un poco de ti</h6>
              <div class="pl-lg-4">
                <div class="form-group focused">
                  <textarea  name="description" #description="ngModel" [(ngModel)]="user.description" required="required" rows="4" class="form-control form-control-alternative" placeholder="Cuentale al mundo, quien eres"></textarea>
                </div>
                <div class="form-group ">
                  <div class="img-scr mx-auto" *ngIf="user.image">
                    <img class="rounded-circle" src="{{url + 'get-image-user/' + user.image}}">
                  </div>
                  <label for="exampleFormControlFile1">Foto de perfil</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile" (change)="fileChangeEvent($event)">
                </div>

              </div>
              <div class="mx-auto">
                <button type="submit" [disabled]="!userEditForm.form.valid"  class="btn btn-info ">Actualizar perfil</button>
              </div>

              <hr class="my-4">
              <hr class="my-4">
            </form>

            <form #userEditForm="ngForm" (ngSubmit)="onSubmitBackground()" *ngIf="user.image">
              <div class="alert alert-success" role="alert" *ngIf="status == 'success'">
                Se han guardado los cambios
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="status == 'error'">
                ¡Ou!, no se ha podido guardar los cambios, intentalo nuevamente
              </div>
              <h6 class="heading-small text-muted mb-4">Tu foto de portada</h6>
              <div class="pl-lg-4">
              </div>
              <hr class="my-4">
              <!-- Description
              <h6 class="heading-small text-muted mb-4">Cuentanos un poco de ti</h6>-->
              <div class="pl-lg-4">
                <!-- <div class="form-group focused">
                   <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                 </div>-->
                <div class="form-group ">
                  <div class="img-scr mx-auto" *ngIf="user.imageBackground">
                    <img class="rounded-circle" src="{{url + 'get-image-user/' + user.imageBackground}}">
                  </div>
                  <label for="exampleFormControlFile1">Foto de portada</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="fileChangeEvent($event)">
                </div>

              </div>
              <div class="mx-auto">
                <button type="submit" [disabled]="!userEditForm.form.valid"  class="btn btn-info ">Actualizar perfil</button>
              </div>

              <hr class="my-4">
              <hr class="my-4">
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

